* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #F0FDF4;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: background-color 0.3s ease, color 0.3s ease;
}


header {
    background-color: #F0FDF4;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #10B981;
}

h1 {
    color: #34D399;
    font-size: 2rem;
    font-weight: bold;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


button, .mode-btn {
    padding: 10px 20px;
    background-color: #2a9d8f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover, .mode-btn:hover {
    background-color: #1e7e6b;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    flex-grow: 1;
}

.wordInput {
    display: flex;
    gap: 10px;
}


.enterWord {
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #2a9d8f;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}


.result {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
}


.result a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #2a9d8f;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.result a:hover {
    background-color: #1e7e6b;
}


footer {
    background-color: #2a9d8f;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    border-top: 2px solid #34D399;
    transition: background-color 0.3s ease, color 0.3s ease;
}

footer i {
    font-style: italic;
}


body.dark {
    background-color: #0f172a;
    color: #F1F5F9;
}

body.dark header {
    background-color: #1e293b;
}

body.dark .enterWord {
    background-color: #1e293b;
    color: #F1F5F9;
    border: 2px solid #2a9d8f;
}

body.dark button, 
body.dark .mode-btn {
    background-color: #2a9d8f;
    color: #F1F5F9;
}

body.dark button:hover,
body.dark .mode-btn:hover {
    background-color: #1e7e6b;
}

body.dark .result {
    background-color: #1e293b;
    color: #F1F5F9;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.05);
    border: 1px solid #334155;
}

body.dark .result a {
    background-color: #2a9d8f;
    color: white;
}

body.dark .result a:hover {
    background-color: #1e7e6b;
}

body.dark footer {
    background-color: #1e293b;
    color: #F1F5F9;
}
